.social {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;

    &__item {
        position: relative;
        width: rem(28);
        height: rem(28);
        border-radius: 50%;
        transform: scale(1);
        transition: transform $transition-time;

        svg {
            fill: $theme-color;
        }

        &:hover {
            transform: scale(1.2);
        }
    }
}
