.swipe-devices {

    &__item {
        opacity: 0;
        height: 0;
        max-height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity $transition-time;


        img {

            max-height: 100%;
        }


        &_is-active {
            opacity: 1;
            height: 60vh;
        }
    }

    &__switch-item {
        opacity: 0.3;
        cursor: pointer;

        &_is-active {
            transition: opacity $transition-time;
            opacity: 1;
        }
    }
}
