.main-screen {
    min-height: 600px;
    background: url('/img/me.png'), #f6f2ee;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: 0 bottom;

    @media (max-width: $screen-tablet) {
        background-size: auto 500px;
        background-position: 0 bottom;
        min-height: 480px;
    }

    @media (max-width: $screen-fablet) {
        background-position: -200px bottom;
    }

    @media (max-width: $screen-mobile) {
        background-size: auto 80vh;
        background-position: -60px 200%;
    }

    @media (max-height: 480px) {
        background-size: auto 400px;
    }

    &__text-block {
        position: absolute;
        left: 50%;
        max-width: rem(420);
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: $screen-mobile) {
            top: 30%;
            left: 0;
            padding-left: rem(30);
            padding-right: rem(30);
        }
    }

    &__bottom {
        position: absolute;
        left: 50%;
        bottom: 10%;

        @media (max-width: $screen-mobile) {
            left: 0;
            padding-left: rem(30);
            padding-right: rem(30);
        }
    }
}
