.devices-switch {
    position: relative;
    width: 100%;
    max-width: 220px;
    display: flex;
    justify-content: space-between;

    &__item {
        position: relative;

        $desktop-switch-color: #ffffff;

        &_desktop {
            width: 52px;
            height: 38px;
            background-image: svg-load('../blocks/devices-switch/img_to_bg/desktop.svg', fill = $desktop-switch-color);
            background-repeat: no-repeat;
            background-size: cover;

            @media (max-width: $screen-fablet) {
                width: 46px;
                height: 34px;
            }
        }

        &_tablet {
            width: 52px;
            height: 38px;
            background-image: svg-load('../blocks/devices-switch/img_to_bg/tablet.svg', fill = $desktop-switch-color);
            background-repeat: no-repeat;
            background-size: cover;

            @media (max-width: $screen-fablet) {
                width: 44px;
                height: 34px;
            }
        }

        &_phone {
            width: 24px;
            height: 38px;
            background-image: svg-load('../blocks/devices-switch/img_to_bg/phone.svg', fill = $desktop-switch-color);
            background-repeat: no-repeat;
            background-size: cover;

            @media (max-width: $screen-fablet) {
                width: 22px;
                height: 34px;
            }
        }
    }
}
