.link {
    position: relative;
    line-height: 1;
    font-weight: 400;
    color: $theme-color;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom $transition-time;
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid rgba($link-color, 0.45);
        transition: border-bottom $transition-time;
    }

    &_block {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: none;

        &:hover {
            border-bottom: none;
        }
    }

    &_arrow {
        margin-left: rem(26);

        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            left: rem(-26);
            width: rem(14);
            height: rem(18);
            margin-top: rem(-8);
            background-image: svg-load('../blocks/link/img_to_bg/arrow.svg', fill = $theme-color);
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:hover::before {
            animation-name: arrow;
            animation-duration: 0.4s;
            animation-iteration-count: infinite;
            animation-direction: alternate;

            @media screen and (max-width: $screen-fablet) {
                animation: none;
            }
        }
    }

    &_external {
        margin-right: rem(26);

        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            right: rem(-26);
            width: rem(15);
            height: rem(15);
            margin-top: rem(-8);
            background-image: svg-load('../blocks/link/img_to_bg/external.svg', fill = $theme-color);
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:hover::before {
            animation-name: arrow;
            animation-duration: 0.4s;
            animation-iteration-count: infinite;
            animation-direction: alternate;

            @media screen and (max-width: $screen-fablet) {
                animation: none;
            }
        }
    }
}

@keyframes arrow {

    0% {
        top: 50%;
    }

    100% {
        top: 70%;
    }
}
