.link {
    position: relative;
    line-height: 1;
    font-weight: 400;
    color: $theme-color;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom $transition-time;
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid rgba($link-color, 0.45);
        transition: border-bottom $transition-time;
    }

    &_block {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: none;

        &:hover {
            border-bottom: none;
        }
    }

    &_arrow {
        margin-left: rem(26);

        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            left: rem(-26);
            width: rem(14);
            height: rem(18);
            margin-top: rem(-8);
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2025%2025%22%3E%3Cpath%20d%3D%22M16.8%2013.3c0.4-0.4%201.1-0.4%201.6%200%200.4%200.4%200.4%201.1%200%201.6l-6.6%206.7c-0.2%200.2-0.5%200.3-0.8%200.3%20-0.3%200-0.6-0.1-0.8-0.3l-6.6-6.7c-0.4-0.4-0.4-1.1%200-1.6s1.1-0.4%201.6%200l4.7%204.8V1.1C9.8%200.5%2010.3%200%2010.9%200c0.6%200%201.1%200.5%201.1%201.1v16.9L16.8%2013.3z%22%20fill%3D%22%23c0392b%22/%3E%3C/svg%3E%0D%0A');
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:hover::before {
            animation-name: arrow;
            animation-duration: 0.4s;
            animation-iteration-count: infinite;
            animation-direction: alternate;

            @media screen and (max-width: $screen-fablet) {
                animation: none;
            }
        }
    }
}

@keyframes arrow {

    0% {
        top: 50%;
    }

    100% {
        top: 70%;
    }
}
