.link {
    position: relative;
    line-height: 1;
    font-weight: 400;
    color: $theme-color;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom $transition-time;
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid rgba($link-color, 0.45);
        transition: border-bottom $transition-time;
    }

    &_block {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;

        &:hover {
            border-bottom: 1px solid transparent;
        }
    }
}
