.project-screen {
    display: flex;
    align-items: center;
    overflow: hidden;


    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 12vh;

        @media (max-width: $screen-tablet) {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }

        @media (max-width: $screen-fablet) {
            justify-content: space-between;
            align-items: center;
            width: 100%;
            order: 1;
            height: 100%;
            padding-top: 120px;
            padding-bottom: 5vh;
            margin-top: 0;
        }

        @media (max-width: $screen-mobile) {
            padding-top: 10vh;
        }
    }

    &__description {
        position: relative;
        width: 40%;

        @media (max-width: $screen-tablet) {
            width: 50%;
        }

        @media (max-width: $screen-fablet) {
            width: 100%;
            flex-shrink: 0;
            text-align: center;
        }
    }

    &__carousel {
        position: absolute;
        top: 50%;
        left: 40%;
        width: 60%;
        transform: translateY(-50%);

        @media (max-width: $screen-tablet) {
            left: 55%;
            width: 45%;
        }

        @media (max-width: $screen-fablet) {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            order: 2;
            height: auto;
            flex-grow: 1;
            transform: none;
        }
    }

    &__carousel-inner {
        position: relative;
        margin: 0 auto;
    }

    &__title {

        @media (max-width: $screen-fablet) {
            margin-bottom: rem(15);
        }

        @media (max-width: $screen-mobile) {
            margin-bottom: rem(10);
        }
    }

    &__caption {
    }

    &__link {
        display: inline-block;
        margin-top: rem(45);

        @media (max-width: $screen-fablet) {
            margin-top: rem(35);
        }

        @media (max-width: $screen-mobile) {
            margin-top: rem(20);
        }
    }

    &__switchers {
        position: relative;
        width: 50%;
        margin-top: rem(70);

        @media (max-width: $screen-fablet) {
            width: 100%;
            order: 3;
            margin-top: 0;
        }
    }
}
