.header {
    position: fixed;
    width: 100%;
    padding-top: rem(90);
    // padding-left: calc(100% / 12);
    // padding-right: calc(100% / 12);
    z-index: 2;

    @media (max-width: $screen-desktop) {
        padding-top: rem(70);
    }

    @media (max-width: $screen-tablet) {
        padding-top: rem(60);
    }

    @media (max-width: $screen-mobile) {
        padding-top: rem(20);
    }

    &__inner {
        position: relative;
        width: 50%;
        margin-left: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $screen-tablet) {
            width: 100%;
            margin-left: 0;
        }
    }

    &__social {
        position: relative;
        width: rem(116);
    }
}
